.footer {
	padding: 2rem 1rem;
	text-align: center;
	color: var(--text-color);

	margin-top: 8rem;
}

.footer-container {
	max-width: 900px;
	margin: 0 auto;
	gap: 3rem;
}

.footer-links {
	display: flex;
	justify-content: center;
	gap: 4rem;
}

.footer-links a {
	color: var(--link-color);
	text-decoration: none;
	font-style: var(--font-inter, sans-serif);
	font-weight: 400;
	transition: color 0.3s ease;
}

.footer-links a:hover {
	color: var(--accent-color);
}
